<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
	<head runat="server">  
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>  
		<div class="container-fluid">
		    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">	  
			  
			        <h3 class="app-title">Desculpe, houve um erro interno na aplicação!</h3>  
			        <h4 class="app-headline"><a style="cursor: pointer;" href="/" class="text-green" ><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i>Retorne ao inicio</a></h4>  
			</div>
		</div> 
	</body>
</html>